argparse==1.4.0 ; python_version >= "3.13"
colorama==0.4.6 ; python_version >= "3.13" and sys_platform == "win32"
iniconfig==2.1.0 ; python_version >= "3.13"
markdown-it-py==4.0.0 ; python_version >= "3.13"
mdurl==0.1.2 ; python_version >= "3.13"
packaging==25.0 ; python_version >= "3.13"
pluggy==1.6.0 ; python_version >= "3.13"
pygments==2.19.2 ; python_version >= "3.13"
pytest==8.4.2 ; python_version >= "3.13"
rich==14.2.0 ; python_version >= "3.13"
